---
BOT_TOKEN:
CHAT_ID:

MASTODON_HOST_URL: https://social.gnuweeb.org
MASTODON_ACCESS_KEY:

# Per User ID
# Anyone couldn't /cuit messages from the following users
# Except it was done by the protected user itself.
PROTECTED_USERS:
- 123
- 456
